*{
    margin: 0 0;
    
}

body{
background-color: azure;
}
h1{
    background-color: rgb(31, 31, 179);
    color:white;
    height:50px;
    margin-top:32px;
}
.container{
  background-color: rgb(142, 187, 187);
   height:450px;
   width:450px;
   margin-top: 60px;
   margin-left: 30%;
   border: 4px solid rgb(37, 35, 35);
   text-align: center;
}
form{
    /*border: 1px solid red;*/
    margin-top:18%;
    height:200px;
}
span .name,span .password{
    margin:auto 5px;
    height:25px;
}
form input[type="text"],form input[type="password"]{
    margin:auto auto;
    height:25px;
    width:60%;
}


.b1 , .b2{
width:70px;
height:30px;
margin:20px 20px;
}
.b2{
    margin-left: 20px;
}